/.vscode
/checkForDay.exe
/CheckGivenNumber.exe
/Convert_Fer_To_Cels.exe
/Copy_fun.c
/Copy_fun.exe
/FactorialOfNumber.exe
/HelloC.exe
/ProgramForCheckNumIsPositive.exe
/ProgramForPrintPyramid.exe
/scanning_input.c
/scanning_input.exe
/SimpleCalculator.exe
/Stack.h
/stack.h.gch
/String_len.exe
/SumOfFirstNaturalNum.exe